<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/shop/css/products.css">
    <%- include('./includes/navigator.ejs') %>

      <main>
        <%- include('./includes/main.ejs') %>

          <section class="page-path">
            <div class="font-regular-light"><a href="#">Home</a> > <a href="#">
                <%= pagePath %>
              </a></div>
            <h2 class="font-lg-regular">
              <%= productType %>
            </h2>
          </section>

          <section class="products">
            <div class="container">
              <div class="products-actions">
                <button class="product-actions__filter-btn" id="products-filter-btn">
                  <i class="ri-sound-module-line"></i>
                </button>
                <div class="product__actions__sort-products">

                </div>
              </div>
              <div class="products-list">
                <% if (products.length> 0) { %>
                  <% for (product of products) { %>
                    <div class="product-card">
                      <div class="product-card__overly"></div>
                      <div class="product-card__head">
                        <img class="product-card__img" src="<%= product.images[0] %>" alt="<%= product.title %>">
                      </div>
                      <div class="break-line"></div>
                      <div class="product-card__body">
                        <p class="product-card__title">
                          <%= product.title %>
                        </p>
                      </div>
                      <div class="break-line"></div>
                      <div class="product-card__tail">
                        <p class="product-card__price">
                          <%= product.price %>$
                        </p>
                      </div>
                      <div class="product-card__actions">
                        <i class="fa-solid fa-cart-plus fa-lg"></i>
                        <i class="fa-regular fa-heart fa-lg"></i>
                      </div>
                    </div>
                    <% } %>
                      <% } else { %>
                        <h2>No products are founded!</h2>
                        <% } %>
              </div>
            </div>

            <% if (lastPage > 1) { %>
              <div class="products-list__nav">
                <% if (isPreviousPage){ %>
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= previousPage %>"
                    class="btn btn--products-list-btn"><i class="ri-arrow-left-line"></i> Previous</a>
                <% } %>
                <% if (currentPage !==1 && previousPage !==1) { %>
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=1" class="btn btn--products-list-btn">1</a>
                <% } %>
                <% if(currentPage > 3) { %>
                  <div class="products-list-void-btn">...</div>
                <% } %>
                <% if (isPreviousPage){ %>
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= previousPage %>" class="btn btn--products-list-btn"><%= previousPage %></a>
                <% } %>
                <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= currentPage %>" class="btn btn--products-list-btn <%= 'current-page' %>"><%= currentPage %></a>
                <% if (isNextPage && nextPage !== lastPage){ %> 
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= nextPage %>" class="btn btn--products-list-btn"><%= nextPage %></a>
                <% } %>
                <% if (currentPage < lastPage - 2) { %>
                  <div class="products-list-void-btn">...</div>
                <% } %>
                <% if(lastPage !== currentPage && lastPage !== 1) {%>
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= lastPage %>" class="btn btn--products-list-btn"><%= lastPage %></a>
                <% } %>
                <% if (isNextPage){ %>   
                  <a href="/products/<%= pagePath %>/<%= productType %>?p=<%= nextPage %>" class="btn btn--products-list-btn">Next <i class="ri-arrow-right-line"></i>
                  </a>
                <% } %>
              </div>
            <% } %>
          </section>

          <section class="products-filter" id="products-filter">
            <div class="products-filter__overly" id="products-filter-overly"></div>
            <div class="products-filter__wrapper">
              <button class="close-btn" id="products-filter-close-btn">
                <div class="close-icon"></div>
              </button>
              <div class="products-filter__body">
                <div class="products-filter__body-element">
                  <p class="products-filter__element-title">Stock status</p>
                  <label>
                    <input type="radio" name="filter" id="filter">
                    <input type="hidden" name="value" id="value" value="show all">
                    <span class="check-mark">
                      <i class="fa-solid fa-check"></i>
                    </span>
                    <div class="products-filter__filter-label">
                      <p>Show all</p>
                      <p class="products-count">(120)</p>
                    </div>
                  </label>
                  <label>
                    <input type="radio" name="filter" id="filter">
                    <span class="check-mark">
                      <i class="fa-solid fa-check"></i>
                    </span>
                    <div class="products-filter__filter-label">
                      <p>In stock</p>
                      <p class="products-count">(111)</p>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </section>

      </main>
      <script src="/shop/js/products.js"></script>
      <%- include('./includes/end.ejs') %>